# Directories
data/
images_from_cuillin/
find_clumps/
old_analyses/
output/
plot_surfdens/
plot_vel_disp/
rank_neighbours/
calc_clump_mass/

# Files
*.pdf
*.dat
*.png

# Some specific things
slurm-*
run_log
__pycache__
.DS_Store